header{
    width: 100%;
    background-color:white;
}
main{
    width: 100%;
    height: 100%;
    background-color: gray;
}
footer{
    width: 100%;
    height: 100%;
    background-color: white;
}
a{
    text-decoration: none;
}
dt{
    font-size: 15pt;
    font-family:cursive;
}
.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around ;
  }
  .container2 {
    display: flex;
    flex-direction: column;
    justify-content: space-around ;
  }
  .container nav{
    display: flex;
  }
 .container > div {
    margin: 10px;
    text-align: center;
    line-height: 50px;
    font-size: 30px;
  }
  .container2 > div {
    margin: 10px;
    text-align: center;
    line-height: 50px;
    font-size: 30px;
  }
p{
    color: black;
    border-radius: 5px;
}
p:hover{
    transform: scale(1.1);
    color: white;
    background-color: gray;
}
b{
    width: 140px;
    font-size: 12pt; 
    margin: 10px; 
    height: 50px; 
    text-align: center; 
    display: flex; 
    flex-direction: column;
    background-color: rgb(232, 231, 231);
    border-radius: 5px;
    color: black;
    font-family: cursive;
}
b:hover{
    transform: scale(1.1);
    background-color: rgb(247, 242, 235);
}
i{
    font-size: 15pt;
    flex-direction: column;
    color: black;
}
h5{
    padding: 20px;
    font-family: cursive;
    float: left;
}
.anasayfa{
    width: 105px;
    height: 40px;
    float: left;
    margin: 10px;
    font-size: 20pt;
}
.hakkimizda{
    width: 140px;
    height: 40px;
    float: left;
    margin: 10px;
    font-size: 20pt;
}
.iletisim{
    width: 85px;
    height: 40px;
    float: left;
    vertical-align: middle;
    margin: 10px;
    font-size: 20pt;
}
.search{
    margin: 10px;
    width: 170px;
    height: 50px;
    flex-direction: row-reverse;
} 
.maindivsol{
    width: 20%;
    height: 100%;
    float: left;
    background-color:gray;
}
.maindivsag{
    width: 65%;
    height: 100%;
    float: right;
    background-color: gray;
}
.box{
    display: flex;
    flex-direction:column;
    width: 200px;
    height: 300px;
    background-color: cornsilk;
    float: left;
    margin: 15px;
    border-radius: 5px;
    filter: drop-shadow(rgb(62, 62, 62) 1rem 1rem 15px);
}
.box:hover{
    transform: scale(1.1);
    filter: drop-shadow(black 1rem 1rem 10px);
}

.resim{
    box-sizing: content-box;
    width: 100%;
    height: 100%;
}
.aciklama{
    margin-top: auto;
    width: 100%;
    height: 100%;
    font-size: 10pt;
}
.fiyat{
    width: 100%;
    height: 100%;
    font-size: 14pt;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}